.azeret-mono-nav {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 80;
    font-style: normal;
  }
  
  .banner {
    display: flex;
    justify-content: space-around;
  }
  
  .top-text {
    text-align: center;
  }
  
  .top-text:hover {
    text-decoration: underline;
    cursor: pointer;
  }
  
  .resume {
    border-radius: 10px;
    border-color: gray;
    background: white;
    border-width: 1px;
    color: #525150;
    padding: 2px 30px;
  }
  
  .main{
      background-image: url("./assets/Hero-bg.png");
      display: block;
      justify-content: center;
      font-family: font-family: "Azeret Mono", monospace;;
  }
  
  .center{
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 240px;
      height: 240px;
      padding-top: 20px;
  }
  
  .main-text{
      text-align: center;
      font-weight: bold;
      margin-top: 1px;
      margin-bottom: 1px;
  }
  
  .main-text-2{
      text-align: center;
      font-weight: bold;
      color: #525150;
      margin-top: 1px;
      padding-top: 2px;
      margin-bottom: 1px;
  }
  
  .div2{
      width: 550px;
  }
  
  .connect{
      background-color: black;
      color: white;
      border-radius: 10px;
      border: 0px;
      padding: 2px 30px;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      display: block;
      margin-top: 10px;
  }


.why-web{
    display: block;
    color: rgb(13, 19, 33);
    font-family: "Azeret Mono", monospace;
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;
    margin-left: auto;
    margin-right: auto



}

.p-web{
color: rgb(13, 19, 33);
font-family:"Azeret Mono", monospace;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: center;


}

.text-image-container{
    font-family: azeret-mono-nav;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    width: 900px;
    border-radius: 16px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);

}
    
.learn{
color: rgb(13, 19, 33);
font-family:"Azeret Mono", monospace;
font-size: 20px;
font-weight: 500;
line-height: 23px;
letter-spacing: 0%;
text-align: center;
background-color: white;
}

.cod{
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
}

.essential{
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: left;
}


.web-dev{
    justify-content: center;
    font-family:"Azeret Mono", monospace ;
    
}

/* .roger{ */
    width: 200px;
display:block ;
box-sizing: border-box;
border: 1px solid rgba(13, 19, 33, 0.2);
border-radius: 16px;
justify-content: center;
padding: 10px;

}

.inspiration{
    
    justify-content: center;

}

.text-content{
    /* margin: 100px 0px 10px 100px; */
}



